* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fba8a4;
  background-image: linear-gradient(315deg, #fba8a4 0%, #dad2f3 74%);
}

.container {
  height: 100vh;
  width: 100vw;
  max-width: 1280px;
  max-height: 800px;
  min-height: 600px;
  min-width: 1000px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  font-family: sans-serif;
}

.border {
  height: 369px;
  width: 290px;
  background: transparent;
  border-radius: 10px;
  transition: border 1s;
  position: relative;
}

.border:hover {
  border: 1px solid #fff;
  border-radius: 80px 15px;
}

.card {
  height: 379px;
  width: 300px;
  background: #808080;
  border-radius: 10px;
  transition: background 0.8s;
  overflow: hidden;
  background: #000;
  box-shadow: 0 70px 63px -60px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card0 {
  background: url(images/boy4.jpg) center center;
  border: 5px solid rgb(121, 111, 111);
  border-radius: 90px 20px;
  background-repeat: no-repeat;
  background-size: cover;
}

.card0:hover {
  background: url(images/boy4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card0:hover h2 {
  opacity: 1;
}

.card0:hover .fa {
  opacity: 1;
}

.card1 {
  background: url(images/girl1.jpg) center center;
  border: 5px solid rgb(121, 111, 111);
  border-radius: 90px 20px;
  background-repeat: no-repeat;
  background-size: cover;
}

.card1:hover {
  background: url(images/girl1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card1:hover h2 {
  opacity: 1;
}

.card1:hover .fa {
  opacity: 1;
}

.card2 {
  background: url(images/boy1.jpg) center center;
  border: 5px solid rgb(121, 111, 111);
  border-radius: 90px 20px;
  background-repeat: no-repeat;
  background-size: cover;
}

.card2:hover {
  background: url(images/boy1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card2:hover h2 {
  opacity: 1;
}

.card2:hover .fa {
  opacity: 1;
}

h2 {
  opacity: 0;
  color: white;
  margin: 20px;
  transition: opacity 1s;
}

.fa {
  opacity: 0;
  transition: opacity 1s;
  cursor: pointer;
}

.icons {
  position: absolute;
  fill: white;
  color: white;
  height: 130px;
  top: 226px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
